.text-4 {
  font-size: 16px;
}

.text-5 {
  font-size: 20px;
}

.text-6 {
  font-size: 24px;
}

.text-6\.5 {
  font-size: 26px;
}

.text-7 {
  font-size: 28px;
}

.text-8 {
  font-size: 32px;
}

.text-9 {
  font-size: 36px;
}

.text-10 {
  font-size: 40px;
}

.text-11 {
  font-size: 44px;
}

.text-12 {
  font-size: 48px;
}

.text-14 {
  font-size: 56px;
}

.text-15 {
  font-size: 60px;
}

.text-20 {
  font-size: 80px;
}

.text-25 {
  font-size: 100px;
}

.text-40 {
  font-size: 160px;
}

/* font-weight */
.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.not-italic {
  font-style: normal;
}

/* 多行文本超出省略号 */
.line-clamp-2 {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
