/* position */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.top-1\/2 {
  top: 50%;
}

.-top-0\.25 {
  top: -1px;
}

.top-22\.5 {
  top: 90px;
}

.right-0 {
  right: 0;
}

.right-2 {
  right: 8px;
}

.right-10 {
  right: 40px;
}

.bottom-0 {
  bottom: 0;
}

.bottom-2 {
  bottom: 8px;
}

.left-0 {
  left: 0;
}

.left-10 {
  left: 40px;
}
